<a href="https://colab.research.google.com/github/dev-danish-javed/python-fundamentals/blob/main/Pyhton_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print statements

# Basic IO
 - For output we have print
 - For input we have input

In [ ]:
print('Hello Danish')

Hello Danish

## Different versions of print

In [ ]:
name='Danish'
age= int(27)
print(f'{name} is {age} years old')

Danish is 27 years old

In [ ]:
# simple
print('Hello')

# multiple params, auto spacing
print('Hello', 'Paymentus', 123)

# with seperator
print('Hello', 'Paymentus', 123, sep='-')

# with end
print('Hello', end=' ')
print('Paymentus')

# formatted
name = 'Danish'
work_anniversary_count = 3
print(f'Hi {name}, Congrats on your {work_anniversary_count}th work anniversary ðŸŽ‰')

# old school
print('Hi %s, Congrats on your %dth work anniversary ðŸŽ‰' % (name, work_anniversary_count))
print('Hi {}, Congrats on your {}th work anniversary ðŸŽ‰'.format(name, work_anniversary_count))

# multiline print(string)
print("""
Hello everyone,

I hope you're all doing fine.

Happy learning âœ¨
""")

Hello
Hello world 123
Hello-world-123
Hello world
Hi Danish, Congrats on your 3th work anniversary ðŸŽ‰
Hi Danish, Congrats on your 3th work anniversary ðŸŽ‰
Hi Danish, Congrats on your 3th work anniversary ðŸŽ‰

Hello everyone,

I hope you're all doing fine.

Happy learning âœ¨

**This will not work (no toString method working under the hood here)**

In [ ]:
#print(name + age)

Convert the int to str prior to printing it

In [ ]:
print(name + ' ' + str(age))

Danish 27

# Data Types
We have total 4 types of data in python
- str : String type
- int : whole number
- float : decimal numbers
- bool : booleans
- complex : the same we have in maths

In [ ]:
name = 'Danish'
age = 27
rating = 4.68
available = True
a = 2 + 3j

print(type(name), type(age), type(rating), type(available), type(a))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'> <class 'complex'>

## Type conversion
Each type has a respective conversion method with the same name
- str()
- int()
- float()
- bool()

These types are smart enough to unerstand what the input parameter is and based on that they can convert them

In [ ]:
age = '27'
rating = '4.68'
available = 'true'
# parse these
age = int(age)
rating = float(rating)
available = bool(available)

print('age', age, type(age))
print('rating', rating, type(rating))
print('available', available, type(available))

age 27 <class 'int'>
rating 4.68 <class 'float'>
available True <class 'bool'>

### bool
While every other conversion works as obvious, bool is a bit different

>Non-empty = True, Empty/Zero = False

In [ ]:
print('bool(1)', '\t\t', bool(1))
print('bool(0)', '\t\t', bool(0))
print('bool(123)', '\t\t', bool(123))

print()

print('bool(0.0)','\t\t', bool(0.0))
print('bool(0.1)','\t\t', bool(0.1))
print('bool(1.0)','\t\t', bool(1.0))

print()

print("bool('hello')",'\t\t', bool('hello'))
print("bool('')",'\t\t', bool(''))

print()

print("bool([])",'\t\t', bool([]))
print("bool([1,2,3])",'\t\t', bool([1,2,3]))
print("bool(['hi', 1, 1.2])",'\t', bool(['hi', 1, 1.2]))

bool(1) 		 True
bool(0) 		 False
bool(123) 		 True

bool(0.0) 		 False
bool(0.1) 		 True
bool(1.0) 		 True

bool('hello') 		 True
bool('') 		 False

bool([]) 		 False
bool([1,2,3]) 		 True
bool(['hi', 1, 1.2]) 	 True

In [ ]:
name = input("What's your name ? ")
print(f'Hello {name} !!')

What's your name ? Danish
Hello Danish !!

# Control flow in Python
- Conditional Statements
  - if
  - elif
  - else
- Loops
  - for
  - while
  - Loop control
    - break
    - continue
    - pass
- match-case
- try-expect-finally

## Conditional statements

### if-else
Even odd check

In [ ]:
import random;
num = random.randint(1,10)
print("Random num : ", num)
if num%2 == 0:
  print("num is even")
else:
  print("num is odd")

Random num :  2
num is even

### Ternary operator
> Python style

In [ ]:
import random;
num = random.randint(1,10)
print("Random num : ", num)
print("num is even") if num%2 == 0 else print("num is odd")

Random num :  2
num is even

### if-elif-else
Fuzz Buzz Problem

In [ ]:
import random;
num = random.randint(1,100)
print("Random num : ", num)
if num%3 == 0 and num%5 == 0:
  print("Fuzz Buzz")
elif num%3 == 0:
  print("Fuzz")
elif num%5 == 0:
  print("Buzz")
else:
  print("none")

Random num :  48
Fuzz

### match-case

This is similar to switch case, except that it doesn't need break

In [ ]:
mood = input("Enter your mood [happy, sad, excited, nervous]\t")
tip = None
match mood:
  case "happy":
    tip = "Yeah, have fun bro"
  case "sad":
    tip = "Arijit Singh or Pankaj Udaas, your call"
  case "excited":
    tip = "Good luck ðŸ‘ðŸ¼"
  case "nervous":
    tip = "You have got this bro"
  case _:
    tip = "Pray bro"

print(tip)

Enter your mood [happy, sad, excited, nervous]	nervous
You have got this bro

## Loops

### for

In [ ]:
for i in range(0,10):
  print(i, end='\t')

0	1	2	3	4	5	6	7	8	9

### while

In [ ]:
stay = True;
while(stay):
  stay = input("Do you want to continue ?\t").strip().lower() in ['y', 'yes', '1', 'true']
  if not stay:
    print('yeah, move forwards. Happy learning âœ¨')

Do you want to continue ?	yes
Do you want to continue ?	no
yeah, move forwards. Happy learning âœ¨

### Loop Control
- break
- continue
- pass

#### break

In [ ]:
tell_a_joke = input('Want to read a joke ?\t').strip().lower() in ['y', 'yes', '1', 'true']
while tell_a_joke:
  print('  joke\n')
  tell_a_joke = input('Want more?\t').strip().lower() in ['y', 'yes', '1', 'true']
  if not tell_a_joke:
    print('  your humor is dead ðŸ˜‘')
    break

Want to read a joke ?	yes
  joke

Want more?	no
  your humor is dead ðŸ˜‘

#### continue

In [ ]:
accounts = [
    {"id":101, "balance":1000, "amount_due": 200},
    {"id":102, "balance":350, "amount_due": 400},
    {"id":103, "balance":3000, "amount_due": 800}]
for account in accounts:
  print(f'Processing bill payment for {account.get("id")} with bill amount {account.get("amount_due")}')
  if account.get("amount_due") > account.get("balance"):
    print(f'Error - Insufficient balance!! Skipping {account.get(id)} ! ', end='\n\n')
    continue
  print(f'Bill payment successful for {account.get("id")}', end='\n\n')

Processing bill payment for 101 with bill amount 200
Bill payment successful for 101

Processing bill payment for 102 with bill amount 400
Error - Insufficient balance!! Skipping None !

Processing bill payment for 103 with bill amount 800
Bill payment successful for 103

## pass
Helps design skeleton by avoiding syntx error

Try removing pass from line below

In [ ]:
num_a = 10;
num_b = 20;
if num_a > num_b:
  pass
else:
  print(f'{num_a} is less than {num_b}')

10 is less than 20

# Functions

## Basic function
No args, no return

In [ ]:
def greet():
  print('Hello Paymentus')

greet()

Hello Paymentus

# Parameterized functions

In [ ]:
def greet(name):
  print(f'Hello {name}')

greet('Paymentus')

Hello Paymentus

### default parameters

In [ ]:
def greet(name='Danish'):
  print(f'Hello {name}')

greet()
greet('Paymentus')

Hello Danish
Hello Paymentus

## function overloading

In [1]:
def greet(name):
  print(f'Hello {name}')

def greet(message, name):
  print(f'{message} {name}')

# the second defination overrides the original one
# hence calling it with single parameter will get us error
# greet('Paymentus')
greet('Hi', 'Paymentus')

Hi Paymentus

## Parameter packing/unpacking

This is similar to java's array args and javascripts rest args. They recieve and combine the data to store in an array.

> java :
``` java
public static void main(String ...args) {}
```

> javascript
```javascript
function run(...args) {}
```

Python however offers a different approach.
- *args - data recieved and processed in tupels
- **kargs - data recieved and processed in dictionary

> We'll tupels and dictionary in a while. For now, consider tupels as object and dictionary as map

In [9]:
def greet(*names):
  for name in names:
    print('Hello', name, end=' ')
    print()

# works with any number of args
greet('Himanshu', 'Fazal', 'Kishan')
print()
greet('Kunal', 'Ishu')

Hello Himanshu
Hello Fazal
Hello Kishan

Hello Kunal
Hello Ishu

In [2]:
def profile_details(**kargs):
  for key, value in kargs.items():
    print(key, value)


profile_details(name='Danish', role="developer")
print()
profile_details(name='Himanshu', status='commited')

name Danish
role developer

name Himanshu
status commited

### Lambda

In [5]:
square = lambda x: x*x
print(square(5))

sum = lambda x,y: x+y
print(sum(10,20))

<function <lambda> at 0x799bc06ec0e0> 25
30

# Collection Types

## list
Similar to java's ArrayList, both use **dynamic array** under the hood. There are multiple cool methods to ply with.

- ordered
- allows duplicate
- mutable

In [27]:
randomItems = ['Mango', 10, 10.5]
randomItems.append('Pineapple')
randomItems.append('Mango')
print('Mango count: ', randomItems.count('Mango'))
print(randomItems)
randomItems.pop()
print(randomItems)
randomItems.remove('Mango')
print(randomItems)
print('Index of 10.5 : ', randomItems.index(10.5))
randomItems.insert(1, 'Banana')
print(randomItems)
randomItems.reverse()
print(randomItems)

notSoRandomItems = ['Orange', 'Apple']
randomItems.extend(notSoRandomItems)
print(randomItems)

notSoRandomItems.sort()
print(notSoRandomItems)

notSoRandomItems.clear()
print(notSoRandomItems)

notSoRandomItems.insert(5, 10)
print(notSoRandomItems)

notSoRandomItems.append(5)
print(notSoRandomItems)

notSoRandomItems.append(3)
print(notSoRandomItems)

notSoRandomItems.sort(reverse=True)
print(notSoRandomItems)

Mango count:  2
['Mango', 10, 10.5, 'Pineapple', 'Mango']
['Mango', 10, 10.5, 'Pineapple']
[10, 10.5, 'Pineapple']
Index of 10.5 :  1
[10, 'Banana', 10.5, 'Pineapple']
['Pineapple', 10.5, 'Banana', 10]
['Pineapple', 10.5, 'Banana', 10, 'Orange', 'Apple']
['Apple', 'Orange']
[]
[10]
[10, 5]
[10, 5, 3]
[10, 5, 3]

## tuples

Similar to tuples but immutable.

```python
abc = [1,2,3] # list
xyz = (1,2,3) # xyz
```

In [33]:
abc = [1,2,3] # list
xyz = (1,2,3) # xyz

print(type(abc), type(xyz))

<class 'list'> <class 'tuple'>

In [40]:
tup = ('mango', 'grape', 'oranges', 'grape', 'mango', 'mango')
# these are the only two functions we have
print('Count mangoes : ', tup.count('mango'))
print('index of oranges', tup.index('oranges'))

# it throws error if element is not in list
# tup.index('45')

Count mangoes :  3
index of oranges 2

## list vs tuple

|List|Tuple|
|---|---|
|Read and write is more|Insertation deletion is more|
|Like leader board, we'll read and update| Like To-Dos app, we'll insert and delete more|

## set

- unordered
- mutable
- **doesn't allow duplicates**

> Internally uses hash table unlike java where hashmap is used.

python uses _hash()_ function of the elements to calculate the index in table.

In [42]:
student_ids = {'s-101', 's-102', 's-103', 's-104', 's-101'}
print('Notice how order is not maintenained  : ', student_ids)
student_ids.add('s-105')

print(student_ids)

Notice how order is not maintenained  :  {'s-103', 's-101', 's-102', 's-104'}
{'s-105', 's-103', 's-104', 's-102', 's-101'}