<a href="https://colab.research.google.com/github/dev-danish-javed/python-fundamentals/blob/main/Pyhton_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print statements

In [ ]:
print('Hello Danish')

Hello Danish

In [ ]:
name='Danish'
age= int(27)
print(f'{name} is {age} years old')

Danish is 27 years old

In [ ]:
print(name, age)

Danish 27

**This will not work, as python doesn't have a to string method working under the hood**

In [ ]:
print(name + age)

TypeError: can only concatenate str (not "int") to str

Convert the int to str prior to printing it

In [ ]:
print(name + ' ' + str(age))

Danish 27

# Data Types
We have total 4 types of data in python
- str : String type
- int : whole number
- float : decimal numbers
- bool : booleans
- complex : the same we have in maths

In [ ]:
name = 'Danish'
age = 27
rating = 4.68
available = True
a = 2 + 3j

print(type(name), type(age), type(rating), type(available), type(a))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'> <class 'complex'>

## Type conversion
Each type has a respective conversion method with the same name
- str()
- int()
- float()
- bool()

These types are smart enough to unerstand what the input parameter is and based on that they can convert them

In [ ]:
age = '27'
rating = '4.68'
available = 'true'
# parse these
age = int(age)
rating = float(rating)
available = bool(available)

print('age', age, type(age))
print('rating', rating, type(rating))
print('available', available, type(available))

age 27 <class 'int'>
rating 4.68 <class 'float'>
available True <class 'bool'>

### bool
While every other conversion works as obvious, bool is a bit different

>Non-empty = True, Empty/Zero = False

In [ ]:
print('bool(1)', '\t\t', bool(1))
print('bool(0)', '\t\t', bool(0))
print('bool(123)', '\t\t', bool(123))

print()

print('bool(0.0)','\t\t', bool(0.0))
print('bool(0.1)','\t\t', bool(0.1))
print('bool(1.0)','\t\t', bool(1.0))

print()

print("bool('hello')",'\t\t', bool('hello'))
print("bool('')",'\t\t', bool(''))

print()

print("bool([])",'\t\t', bool([]))
print("bool([1,2,3])",'\t\t', bool([1,2,3]))
print("bool(['hi', 1, 1.2])",'\t', bool(['hi', 1, 1.2]))

bool(1) 		 True
bool(0) 		 False
bool(123) 		 True

bool(0.0) 		 False
bool(0.1) 		 True
bool(1.0) 		 True

bool('hello') 		 True
bool('') 		 False

bool([]) 		 False
bool([1,2,3]) 		 True
bool(['hi', 1, 1.2]) 	 True

# Basic IO
 - For output we have print
 - For input we have input

In [ ]:
name = input("What's your name ? ")
print(f'Hello {name} !!')

What's your name ? Danish
Hello Danish !!

# Control flow in Python
- Conditional Statements
  - if
  - elif
  - else
- Loops
  - for
  - while
  - Loop control
    - break
    - continue
    - pass
- match-case
- try-catch-finally

## Conditional statements

Even odd check

In [4]:
import random;
num = random.randint(1,10)
print("Random num : ", num)
if num%2 == 0:
  print("num is even")
else:
  print("num is odd")

Random num :  8
num is even

> Ternary operator but python style

In [17]:
import random;
num = random.randint(1,10)
print("Random num : ", num)
print("num is even") if num%2 == 0 else print("num is odd")

Random num :  8
num is even

Fuzz Buzz Problem

In [16]:
import random;
num = random.randint(1,100)
print("Random num : ", num)
if num%3 == 0 and num%5 == 0:
  print("Fuzz Buzz")
elif num%3 == 0:
  print("Fuzz")
elif num%5 == 0:
  print("Buzz")
else:
  print("none")

Random num :  45
Fuzz Buzz

## Loop Control
- break
- continue
- pass